OP_ACCOUNT=your-1password-account
APPLE_ID_REF="op://Vault/Item/environment/APPLE_ID"
APPLE_TEAM_ID_REF="op://Vault/Item/environment/APPLE_TEAM_ID"
APPLE_NOTARY_PASSWORD_REF="op://Vault/Item/environment/APPLE_NOTARY_PASSWORD"
